---
layout: default
---

<div id="projects" class="container">
  <div class="accordion" id="accordionExample">
    <a href data-toggle="collapse" data-target="#collapseOne"><h3>Projects</h3></a>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <ul id="projectList">
          <li><a href="https://github.com/blinded93/household_management" target="_blank">Household Management</a></li>
          <li><a href="https://github.com/blinded93/esculent-methods-jquery" target="_blank">Esculent Methods</a></li>
        </ul>
      </div>
    </div>
    <a href data-toggle="collapse" data-target="#collapseTwo"><h3>Blog</h3></a>

    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="container">
        <div class="row">
          <div class="col">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Main Content -->
